<div class="grid-container">
  <article class="main">
    <img src="assets/img/portada.jpg" alt="Bienvenido" width="100%" height="180%">
</article>

<aside class="sidebar">
  <br><br>
  <h2>El Osito Feliz</h2><br>
  <h3> <small>Obtenga productos de la mejor calidad y precio</small></h3>
  <br><br>

  <div class="card text-center">
    <div class="card-body">
      <p class="card-text"> ¿ Visualizar Clientes ? <br> Aprovecha</p>
      <a href="users" class="btn btn-primary">Ir Ahora</a>
    </div>
  </div>
</aside>
</div>
